<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>

    <div class="mdl-grid">

        <%- include('partials/navbar') %>

        <!-- added to keep everything in center -->
        <div class="mdl-cell mdl-cell--3-col"></div>

        <div class="mdl-cell mdl-cell--6-col">
            <% if ("development" === process.env.NODE_ENV) { %>
            <h5 style="color: red">Development Mode</h5>
            <% } %>

            <!-- ADD FORM -->
            <h1 style="display: inline">&#8377</h1>
            <h1 id="total-amount" style="display: inline">
                <%= total %>
            </h1>
            <h6>
                <%= month %>
                <%= year %>
            </h6>
            <hr>
            <form class="myForm" action="/">

                <% if(category.length > 0 && null != category.length){ %>
                <div class="form-group">
                    <label for="sel1">Category</label>
                    <select class="form-control" id="category" name="category" onchange="onCategoryselect(value);"
                        required>
                        <option selected disabled value="">Choose one...</option>
                        <% for (var i = 0; i< category.length; i++) { %>
                        <option name="<%=category[i].category %>" id="<%=category[i].category %>">
                            <%=category[i].category %>
                        </option>
                        <% } %>
                    </select>
                </div>
                <% } %>

                <div class="autocomplete form-group">
                    <label for="example-text-input">Item</label>
                    <input class="form-control" type="text" id="item" name="item" required>
                </div>

                <div class="form-group">
                    <label for="example-text-input">Price</label>
                    <input class="form-control" type="Number" id="cost" name="cost" min="1" required>
                </div>

                <div class="form-group">
                    <label for="example-text-input">Date</label>
                    <input class="form-control" id="date" name="date" placeholder="DD/MM/YYYY" type="text" required />

                </div>
                <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect btn btn-primary"
                    id="demo-show-toast">Submit</button>
            </form>

            <% if ("active" === process.env.UI_SEARCH_DATE) { %>
            <br><br>
            <div id="accordion">
                <div class="card">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne" style="background-color: whitesmoke">
                        <div class="card-header" id="headingOne"
                            style="text-align: left; text-decoration: none; background-color: whitesmoke">
                            <!-- <h5 class="mb-0"> -->
                            <!-- <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> -->
                            <b>Search By Date</b>
                            <!-- </button> -->
                            <!-- </h5> -->
                        </div>
                    </button>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">

                            <form method="get" action="/date">
                                <div class="form-group">
                                    <label for="example-text-input">Start Date</label>
                                    <input class="form-control" id="date" name="sdate" placeholder="DD/MM/YYYY"
                                        type="text" required />
                                </div>
                                <div class="form-group">
                                    <label for="example-text-input">End Date</label>
                                    <input class="form-control" id="date" name="edate" placeholder="DD/MM/YYYY"
                                        type="text" />
                                </div>
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                    id="show-data">Show</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <% } %>

            <div class="mdl-cell mdl-cell--3-col"></div>

            <%- include('partials/table') %>

        </div>

    </div>

    <!-- toast -->
    <div id="demo-toast-example" aria-live="assertive" aria-atomic="true" aria-relevant="text"
        class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <script defer src="script/script.js"></script>
</body>

</html>